#a {grid-area: a;}
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}

#grid {
    /* default จัด id แบบเทพมาก ง่ายมาก */
    display: grid;
    grid-template-areas:
        "a a a a"
        "b c d e";
    grid-row-gap: 1rem;
}

@media (max-width: 512px) {
    /* พอกลับมาเป็นจอเล็ก ให้เหลือ 3 column แทน */
    #grid {
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e";
    }
}